@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #121212;
  --accent-color: #444444;
  --secondary-color:#B0B0B0;
  --text-color: #E0E0E0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #393E46;
}

body::-webkit-scrollbar-thumb {
  background: #948979;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Primary color utilities */
  .primaryBackground {
    @apply bg-[var(--primary-color)];
  }

  .primaryText {
    @apply text-[var(--text-color)];
  }
  .secoondaryText {
    @apply text-[var(--primary-color)];
  }

  .accentBackground {
    @apply bg-[var(--accent-color)];
  }

  .secondaryBackground {
    @apply bg-[var(--secondary-color)];
  }

}



