.blogDetailContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blogDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.blogDetail p {
  font-size: 1rem;

}

.blogDetail {
  font-size: 1.1em;
  color: #444;
}

.blogDetail h1 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #222;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.blogDetail h2 {
  font-size: 1.6em;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #222;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.blogDetail h3 {
  font-size: 1.75em;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #333;
}
.blogDetail h4 {
  font-size: 1.2em;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #333;
}
/* Ensure the code blocks stay within the container and scroll horizontally if needed */
.blogDetail pre {
  max-width: 100%;
  overflow-x: auto;  /* Allows horizontal scrolling */
  white-space: pre-wrap;  /* Ensures text wrapping if necessary */
  word-wrap: break-word;  /* Breaks long words to avoid overflow */
  background-color: #2f2f2f;
  color: #e6e6e6e6;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.9rem; /* Adjust font size for better readability */
  font-family: monospace; /* Ensures a monospace font for code */
  max-width: 700px;
}
.blogDetail div img{
  width: 300px;
}

.blogDetail code {
  word-break: break-word; /* Ensures code does not overflow */
  display: inline-block;
  background-color: #2f2f2f;
  color: #e6e6e6e6;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: monospace;
}

.blogDetail ul,
.blogDetail ol {
  margin-left: 50px;
  margin-bottom: 20px;
  list-style: disc;
}

.blogDetail li {
  margin-bottom: 10px;
}

.blogDetail a {
  color: #0070f3;
  text-decoration: none;
}

.blogDetail a:hover {
  text-decoration: underline;
}

.blogDetail blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-left: 5px solid #ccc;
  color: #555;
}


.toc {
  display: none;
  margin-bottom: 20px;
}

.toc h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc li {
  margin-bottom: 5px;
}

.toc a {
  color: #0070f3;
  cursor: pointer;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}

.tocToggle {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 768px) {
  .blogDetailContainer {
    flex-direction: row;
  }

  .toc {
    display: block;
    width: 250px;
    margin-right: 20px;
    position: sticky;
    top: 20px;
    height: calc(100vh - 250px);
    overflow-y: auto;
    background-color: white;
    z-index: 10;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .tocToggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .tocToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  .tocToggle:hover{
    opacity: 1;
  }

  .showToc {
    display: block;
    position: fixed;
    bottom: 0;
    left: 5px;
    background: #eeeeee;
    padding: 15px;
    width: 90%;
    max-width: 350px;
    border-radius: 8px;
    border: 1px solid;
  }

  .showToc .toc {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 70vh; /* Ensure the table of contents does not overflow the screen */
    background-color: white;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
  }
}