.footer {
  background-color: var(--background-color);
  padding: 2rem 0;
  margin-top:150px;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.socialLinks a {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.socialLinks a:hover {
  color: var(--primary-color);
}

.footerLinks {
  margin-top: 10px;
}

.footerLinks a {
  margin-right: 15px;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem 0;
  }
}

