.header {
  background-color: #DFD0B8;
  padding-top: 0.4rem;
  z-index: 999;

}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainLogo{
  width: 100px;
  height: 100%;
  margin-left: 10px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  border: none;
}

.navLink:hover {
  scale: 1.03;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    flex-direction: column;
    padding: 1rem;
  }

  .nav.open {
    display: flex;
  }
}

