.portfolio {
  margin-bottom: 4rem;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project:hover {
  background-color: var(--background-color-hover);
}

.project h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.project h3:nth-child(2) {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.project p {
  margin: 1rem 0;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-color);
}

.links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

