.manager {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.manager h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

.addButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.serviceList {
  list-style: none;
  padding: 0;
}

.serviceItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.serviceContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.links {
  margin-top: 10px;
}

.anchor {
  color: #0070f3;
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
